<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AppName{% endblock %}</title>		
		
		<link rel="stylesheet" href="{{asset('bootstrap-3.3.7-dist/css/bootstrap.min.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{asset('font-awesome-4.7.0/css/font-awesome.min.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{asset('datetimepicker-4.17.42/bootstrap-datetimepicker.min.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{asset('jquery-ui-1.12.1/jquery-ui.min.css')}}" type="text/css" />
		
		{% block stylesheets %}{% endblock %}
        
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	
        {% block body %}{% endblock %}
		
		{% if not app.user or app.request.attributes.get('_route') ==  'fos_user_registration_confirmed' %}
		<div class="container" style='margin-top:50px;'>
			<div class="row">
				<div class="col-md-7 col-md-offset-3">
					<div class="panel panel-login">
						<div class="panel-heading">
							<h2>AppName</h2>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									{% block fos_user_content %}{% endblock fos_user_content%}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endif%}
		
		{% block javascripts %}
		
			{% javascripts
				'bundles/fosjsrouting/js/router.js'
				'jQuery-3.1.1/jquery.min.js'
				'bootstrap-3.3.7-dist/js/bootstrap.min.js'
				'moment-2.17/moment.min.js'
				'datetimepicker-4.17.42/bootstrap-datetimepicker.min.js' 
				'jquery-ui-1.12.1/jquery-ui.min.js'
			%}
				<script type="text/javascript" src="{{ asset_url }}"></script>
				<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
			{% endjavascripts %}
		{% endblock %}
    </body>
</html>
