{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
	<div class="form-group">
      {{ form_label(form.firstname, "firstname"|trans, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
      
	  <div class="col-sm-5">
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'autofocus' : 'autofocus'}}) }}
		<div class='text-danger'>{{ form_errors(form.firstname) }}</div>
      </div>
    </div>
	<div class="form-group">
      {{ form_label(form.lastname, "lastname"|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      
	  <div class="col-sm-5">
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
		<div class='text-danger'>{{ form_errors(form.lastname) }}</div>
      </div>
    </div>
	<div class="form-group">
      {{ form_label(form.email, "form.email"|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      
	  <div class="col-sm-5">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		<div class='text-danger'>{{ form_errors(form.email) }}</div>
      </div>
    </div>
	<div class="form-group">
      {{ form_label(form.plainPassword.first, "form.password"|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      <div class="col-sm-5">
			{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
			<div class='text-danger'>{{ form_errors(form.plainPassword.first) }}</div>
      </div>
    </div>
	<div class="form-group">
		  {{ form_label(form.plainPassword.second, "form.password_confirmation"|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		  <div class='text-danger'>{{ form_errors(form.plainPassword.second) }}</div>
		<div class="col-sm-5">
			{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
		</div>
    </div>
    <div>
        <input type="submit" class='btn btn-success' value="{{ 'registration.submit'|trans }}" />
    </div>
	{{ form_rest(form) }}
{{ form_end(form) }}
